
    <div class="section section-hero section-shaped">
        <div class="shape shape-default">
            <img class="bg-image" src="/assets/img/pages/administration.jpg" style="width: 100%;">
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-black display-1">Administration page</h1>
                <h2 class="display-4 font-weight-normal text-black">Keep your beaches under control</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    <div>
        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 text-center">
                    <h2 class="display-4 font-weight-normal text-black">Chose what you want to do</h2>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
            <li class="nav-item">
                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false" (click)="setAction1('manageBeaches')">Manage your beaches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true" (click)="setAction1('createBeach')">Add a new beach</a>
            </li>
        </ul>
    </div>

    <div [ngSwitch]="action1">
        <div *ngSwitchCase="'manageBeaches'">
            <div class="page-header">
                <div class="container shape-container d-flex align-items-center py-lg">
                  <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-lg-6 text-center">
                        <h2 class="display-4 font-weight-normal text-black">This is the list of your beaches</h2>
                        <h6 >Chose one of the provided options</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Name</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let beach of beaches" >
                        <td class="text-center">
                          {{beach.id}}
                        </td>
                        <td class="text-center">
                          {{beach.name}}
                        </td>
                        <td class="td-actions text-right">
                            <button type="button" class="btn btn-primary btn-sm" (click)="showLocations(beach.id)">Manage locations</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteBeach(beach.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="displayLocations; else locList">
                <div class="page-header">
                    <div class="container shape-container d-flex align-items-center py-lg">
                      <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 text-center">
                            <h5>You can manage the already existing locations or add a new one</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                </div> 
                <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false" (click)="setAction2('manageLocations')">Manage already existing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true" (click)="setAction2('createNewLocation')">Add a new location to the beach</a>
                    </li>
                </ul>
                <div [ngSwitch]="action2">
                    <div *ngSwitchCase="'manageLocations'">
                        <div class="page-header">
                            <div class="container shape-container d-flex align-items-center py-lg">
                              <div class="col px-0">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-lg-6 text-center">
                                    <h5>The beach you selected contains the follows locations</h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> 
                        <table class="table">
                            <thead>
                              <tr>
                                  <th class="text-center">#</th>
                                  <th class="text-center">Cost</th>
                                  <th class="text-center">Umbrellas</th>
                                  <th class="text-right">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let location of locations; index as i">
                                  <td class="text-center"> {{location.id}} </td>
                                  <td class="text-center"> {{location.ombrella_number}} </td>
                                  <td class="text-center"> {{location.price}} </td>
                                  <td class="text-right">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteLocation(location.beachId, location.id)">Delete</button>
                                    </div>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngSwitchCase="'createNewLocation'">
                        <div class="page-header">
                            <div class="container shape-container d-flex align-items-center py-lg">
                              <div class="col px-0">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-lg-6 text-center">
                                    <h5>Insert the data of the location you want to add at the beach</h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div [formGroup]="newLocationForm" (ngSubmit)="createLocation()">
                            <div class="form-group">
                                <label for="example-number-input" class="form-control-label">Number of umbrellas</label>
                                <input class="form-control" type="number" value="1" id="example-number-input" formControlName="ombrella_number">
                            </div>
                            <div class="form-group">
                                <label for="example-number-input" class="form-control-label">Price</label>
                                <input class="form-control" type="number" value="1" id="example-number-input" formControlName="price">
                            </div>
                        </div>
                        <div class="text-center">
                            <h6>Press the button to add the new location to the beach</h6>
                            <button type="submit" class="btn btn-primary my-4" (click)="createLocation()">Create location</button>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #locList>
                <div class="page-header">
                    <div class="container shape-container d-flex align-items-center py-lg">
                      <div class="col px-0">
                        <div class="row align-items-center justify-content-center">
                          <div class="col-lg-6 text-center">
                            <h2 class="display-4 font-weight-normal text-black">Chose one action</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                </div> 
            </ng-template>   
        </div>
        <div *ngSwitchCase="'createBeach'">
            <div class="page-header">
                <div class="container shape-container d-flex align-items-center py-lg">
                  <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-lg-6 text-center">
                        <h2 class="display-4 font-weight-normal text-black">Here you can add a new beach to the system</h2>
                        <h6>Complete the form whit the informations</h6>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <form [formGroup]="newBeachForm" (ngSubmit)="createBeach()">
                <div>
                    <h6 class="text-center">Insert the name of the beach</h6>
                    <input type="text" class="form-control" placeholder="Beach name" formControlName="name">
                </div>
            </form>
            <div class="text-center">
                <button type="submit" class="btn btn-primary my-4" (click)="createBeach()">Create beach</button>
            </div> 
            <div class="page-header">
                <div class="container shape-container d-flex align-items-center py-lg">
                  <div class="col px-0">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-lg-6 text-center">
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault>
            <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h6>Select one option to display the details</h6>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
