
    <div class="section section-hero section-shaped">
        <div class="shape shape-default">
            <img class="bg-image" src="/assets/img/pages/mohamed.jpg" style="width: 110%;">
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-white display-1">Make your reservation</h1>
                <h2 class="display-4 font-weight-normal text-white">The time is right now!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    <div class="beach-picker">

        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 text-center">
                    <h1 class="text-black display-1">Chose the beach you want</h1>
                    <h2 class="display-4 font-weight-normal text-black">Click on the side button to display the locations</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <table class="table">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Name</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let beach of beaches" >
                    <td class="text-center">
                      {{beach.id}}
                    </td>
                    <td class="text-center">
                      {{beach.name}}
                    </td>
                    <td class="td-actions text-right">
                        <button type="button" class="btn btn-primary btn-sm " (click)="selectBeach(beach.id)">Check avaiability</button>
                    </td>
                </tr>
            </tbody>
        </table>  

        <div class="page-header" *ngIf="!showLocations; else elseBlock">
          <div class="container shape-container d-flex align-items-center py-lg">
            <div class="col px-0">
              <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                  <h2 class="display-4 font-weight-normal text-black">Select one beach to view the locations</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #elseBlock> 
          <div *ngIf="showLocations">
            <div class="page-header">
              <div class="container shape-container d-flex align-items-center py-lg">
                <div class="col px-0">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                      <h2 class="display-4 font-weight-normal text-black">Select the location from the below list</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Cost</th>
                    <th class="text-center">Umbrellas</th>
                    <th class="text-right">Add</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let location of locations; index as i">
                    <td class="text-center"> {{location.id}} </td>
                    <td class="text-center"> {{location.ombrella_number}} </td>
                    <td class="text-center"> {{location.price}} </td>
                    <td class="text-right">
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id=`customCeck{{i}}` type="checkbox">
                        <label class="custom-control-label" for=`customCeck{{i}}`></label>
                      </div>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-center">
            <h4>Press the button to procede whit the date picker</h4>
            <button type="submit" class="btn btn-primary my-4" (click)="selectDates()">Select time interval</button>
          </div>
        </ng-template>

        <div *ngIf="showDatePicker">
          <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 text-center">
                    <h2 class="display-4 font-weight-normal text-black">Select the starting day and the ending day</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-daterange datepicker align-items-center container">
            <div class="col">
                <div class="form-group">
                  <p class="text-muted text-center"><strong>Chose the starting day</strong></p>
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control" placeholder="Start date" type="text" value="06/18/2020">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                  <p class="text-muted text-center"><strong>Chose the ending day</strong></p>
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control" placeholder="End date" type="text" value="06/22/2020">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
          <h4>Press the button to submit your reservation</h4>
          <button type="submit" class="btn btn-primary my-4" (click)="submitReservation()">Submit reservation</button>
        </div>
      </div>
    </div>
