
    <div class="section section-hero section-shaped">
        <div class="shape shape-default">
            <img class="bg-image" src="/assets/img/pages/mohamed.jpg" style="width: 100%;">
      </div>
      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-white display-1">Check your profile</h1>
                <h2 class="display-4 font-weight-normal text-white">Keep your reservation under control</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    
    <div class="beach-picker">

      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-black display-1">Check your profile informations</h1>
                <h2 class="display-4 font-weight-normal text-black">Here you can view all your information</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 text-center">
                    <h1 class="text-black display-1">See all you reservation</h1>
                    <h2 class="display-4 font-weight-normal text-black">Click on the side buttons to cancel the reservation</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">From</th>
                    <th class="text-center">To</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of userReservation"> 
                    <td class="text-center"> {{res.id}} </td>
                    <td class="text-center"> {{res.date_start}} </td>
                    <td class="text-center"> {{res.date_end}} </td>
                    <td class="td-actions text-right">
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteReservation(res.id)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>  

        <div class="page-header">
            <div class="container shape-container d-flex align-items-center py-lg">
              <div class="col px-0">
                <div class="row align-items-center justify-content-center">
                  <div class="col-lg-6 text-center">
                    <h2 class="display-4 font-weight-normal text-black">lorem ipsus</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
